@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Students Website</h1>
    <p class="lead">I am Omar Adardour and I am studying in Khpi on the 3th course and my group is : KIT119ia.e.</p>
  
</div>

